@import '../../styles/defaults.scss';

body {
    position: relative;
}

.playground {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 1rem;
    background-color: lighten($th-bg-site, 10%);
    border-radius: .25rem;

    display: flex;
    flex-direction: column;
    max-width: 500px;

    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: .5rem 0;

        > input {
            margin-left: 2rem;
        }
    }

    > details {
        cursor: pointer;
        user-select: none;
    }
}

.title {
    >p {
        font-size: 1.25rem;
        font-weight: bold;
        text-align: center;
        margin: 4rem 0;
    }
}

.description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 .5rem;

    .example {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 2.5rem;

        .text {
            margin-right: .5rem;
            background-color: lighten($th-bg-site, 4%);
            border-radius: .25rem;
            padding: 0 .5rem;
            margin-bottom: 1rem;
        }
    }
}

.methods {
    max-width: 60rem;
    margin: 4rem auto;
    background-color: lighten($th-bg-site, 4%);
    border-radius: .25rem;
    padding: 1rem;

    > p:first-child {
        font-size: 1.125rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 2rem;
    }
}

pre {
    white-space: pre-line;
    overflow: auto;

    code {
        padding: .5rem !important;
    }
}

.final {
    background-color: lighten($th-bg-site, 5%);
    max-width: 40rem;
    margin: 4rem auto;
    padding: 1rem;
    border-radius: .25rem;

    a {
        color: rgb(255, 123, 34);
        &:hover {
            color: lighten(rgb(255, 123, 34), 15%);
        }
    }

    .border {
        width: 100%;
        height: 2px;
        background-color: lighten($th-bg-site, 50%);
    }
}

.particle-img {
    canvas {
        border: 1px solid lighten($th-bg-site, 50%);
    }
}